<nav *ngIf="isavailable()"  class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">
      <img
        style="width: 85px; height: auto"
        src="../../assets/images/cine-welt-logo.png"
        alt="CineWelt"
        class="logo me-5"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-5" id="navbarNav">
      <form class="d-flex me-auto" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Location
          </a>
          <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Chennai</a></li>
            <li><a class="dropdown-item" href="#">Bangalore</a></li>
            <li><a class="dropdown-item" href="#">Pune</a></li>
          </ul>
        </li>
        <li class="ps-5 nav-item">
          <button *ngIf="!isavailable()" [routerLink]="['/login']"  type="button" class="btn btn-dark">Login</button>

          <button *ngIf="isavailable()"  (click)="isLogout()"  type="button" class="btn btn-dark">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
